<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | EventMake</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <header>
        <h1>EventMake</h1>
        <nav>
          <ul>
            <li><a href="/events">Events</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><button class="add-button">+</button></li>
          </ul>
        </nav>
    </header>
    <main>
      <h2>Register</h2>
      <form action="/register" method="post">
        <div class="inp-div">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="inp-div">
          <label for="contact">Contact Number</label>
          <input type="text" id="contact" name="contact" required>
        </div>
        <div class="inp-div">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="inp-div">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="inp-div">
            <label for="password">Re Enter Password</label>
            <input type="password" id="password" name="rePassword" required>
          </div>
          <div class="btn-div">
            <button class="login-button" id ="login-btn" type="submit">Register</button>
            <button class="login-button" id="register-btn">Login</button>
          </div>
      </form>
    </main>
  </body>
  <script>
    document.getElementById("register-btn").addEventListener("click",(e)=>{
        e.preventDefault();
        window.location.href = '/login';
    })
  </script>
</html>